
<p>Affichage du formulaire d'inscription :</p> 
<form 
[formGroup]="userInfos"
(ngSubmit) = "submit()">
    <label for="lastName">Nom : </label>
    <input formControlName="lastName" name="lastName" type="text" /> <br/>
    <label for="firstName">Prénom : </label>
    <input formControlName="firstName" name="firstName" type="text" /> <br/>
    <label for="email">Email : </label>
    <input formControlName="email" name="email" type="text" /> <br/>
    <label for="phone">Phone : </label>
    <input formControlName="phone" name="phone" type="text" /> <br/>
    <label for="address">Adresse : </label>
    <input formControlName="address" name="address" type="text" /> <br/>
    <label for="gender">Gender : </label>
    <input formControlName="gender" name="gender" type="text" /> <br/>
    <label for="login">Login : </label>
    <input formControlName="login" name="login" type="text" /> <br/>
    <label for="mdp">Mot de passe : </label>
    <input formControlName="password" name="password" type="password" /> <br/>
    <button (click)="createClient()">Envoyer</button>
</form>


